* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
  body {
    background: linear-gradient(
      #1354a5 0%,
      #041832 33.33%,
      #041832 66.67%,
      #01080e 100%
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body::before {
    background-image: url("../2034-logica-programacion-1/img/code.png");
    background-repeat: no-repeat;
  
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  main {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("../2034-logica-programacion-1/img/Ruido.png");
    background-size: 100% 100%;
    border-radius: 24px;
    border: 1px solid #1875e8;
  }
  
  .texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
  }
  p {
    width: 70%;
    font-size: 20px;
    text-align: start;
    font-family: 'Inter', sans-serif;
  }
  
  h2 {
    font-size: 60px;
    color: #1875e8;
    font-weight: 700;
    font-family: 'Chakra Petch', sans-serif;
  }
  .imagen {
    position: relative;
    height: 100%;
    width: 50%;
    z-index: 2;
  }
  img {
    position: absolute;
    bottom: 0px;
  }